@{
    ViewData["Title"] = "Identity data";
}
<h1>@ViewData["Title"]</h1>

<hr/>

<dl>
    <dt>@nameof(ViewBag.AccessToken)</dt>
    <dd style="word-break: break-word">@ViewBag.AccessToken</dd>
    <dt>@nameof(ViewBag.IdToken)</dt>
    <dd style="word-break: break-word">@ViewBag.IdToken</dd>
    <dt>@nameof(ViewBag.RefreshToken)</dt>
    <dd>@ViewBag.RefreshToken</dd>
</dl>
<hr/>
<h3>Claims</h3>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>